html, body {
    font-family: Arial, helvetica, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

.esqueleto {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.contenido {
    background-color: lightgray;
    min-height: 350px;
}

.imagenSuperior {
    background: url('./img/theme/panorama.jpg') no-repeat;
    width: 1024px;
    height: 145px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

.logoSuperior {
    background: url('./img/theme/logoSuperior.png') no-repeat left;
    height: 135px;
    border: 0;
}

.tituloEmpresa {
    height: 60px;
    width: 500px;
    background-color: yellow;
}

.panelBarraAutentificacion {
    background-color: black;
    /*-webkit-opacity: 0.8;*/
    /*-moz-opacity: 0.8;*/
    /*-ms-filter: alpha(opacity=80);*/
    /*filter: alpha(opacity=80);*/
    width: 1020px;
    color: white;
    text-align: right;
    border: 0;
}

.panelBarraAutentificacion a {
    color: white;
}

.panelBarraAutentificacion * {
    color: white;
}

.pNavBar {
    margin-top: 12px;
    background-color: yellow;
}

ul.navBar {
    list-style: none;
}

ul.navBar li {
    float: left;
}

.piePagina {
    background-color: black;
    color: white;
}

.piePagina a {
    color: white;
    text-decoration: none;
}

.actionPanel {
    width: 100%;
    alignment-adjust: central;
    text-align: center;
    margin-top: 5px;
    border: 0;
}

.menuWorkcenter {
    font-size: 8pt;
    text-align: center;
    display: block;
    margin-right: 15px;
}

.menuWorkcenter:hover {
    color: #cc0000;
}

.menuWorkcenter label {
    cursor: pointer;
    display: block;
}

.menuWorkcenter img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.opcionesFila {
    text-align: center;
    border: 0;
}

.opcionesFila a {
    float: left;
}

.sinBordes {
    border: 0;
}

table {
    width: 100%;
}

.ui-datatable, .ui-widget {
    font-size: 8pt;
}

.ui-datatable-empty-message {
    text-align: center;
}

.ui-paginator-top {
    height: 25px;
}