html,body {
    font-family: Arial, helvetica, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

.fondo {
    background: url("./img/theme/bg.svg") no-repeat right fixed;
    width: 100%;
    height: 100%;
    position: fixed;
}

.esqueleto {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.logoSuperior {
    background: url('./img/theme/logoSuperior.png') no-repeat left;
    width: 1024px;
    height: 135px;
    padding: 0;
    margin: 0 auto;
}

.actionPanel{
    width: 100%;
    alignment-adjust: central;
    text-align: center;
    margin-top: 5px;
}

.ui-datatable, .ui-widget {
    font-size: 8pt;
}

.ui-row-editor {
    float: left;
}

.ui-panel {
    border: 0;
}

.menuWorkcenter {
    font-size: 8pt;
    text-align: center;
    display: block;
    margin-right: 15px;
} .menuWorkcenter:hover {
    color: #cc0000;
    /*background-color: black;*/
} .menuWorkcenter label {
    cursor: pointer;
    display: block;
} .menuWorkcenter img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul.navBar {
    list-style: none;  
} ul.navBar li {
    float: left;
}

.opcionesFila {
    text-align: center;
} .opcionesFila a {
    float: left;
}

table {
    width: 100%;
}